@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
}

header, footer {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kreon', serif;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

nav, footer {
    background-color: black;
}

nav {
    text-align: right;
    padding: .2rem 0;
}

nav a:last-child {
    padding-right: 4.5rem;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 1.5rem;
}

footer {
    color: white;
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text h1 {
    text-transform: uppercase;
    letter-spacing: 2rem;
    margin-bottom: 2rem;
}

.hero-text p {
    font-size: 1.4rem;
    padding-right: 2.4rem;
}

.destination {
    padding: 1rem 0;
}

.destination p {
    width: 70%;
    margin: auto;
    padding-top: 1rem;
}

.content-group {
    display: flow-root;
    max-height: 800px;
}

.content-group img {
    width: 50%;
    max-height: 800px;
}

.content-group-text-right {
    width: 50%;
    float: right;
    text-align: left;
    padding: 2rem;
}

.content-group-text-left {
    width: 50%;
    float: left;
    text-align: left;
    padding: 2rem;
}

.content-group-header {
    margin-bottom: 1rem;
}

.content-group-paragraph {
    text-wrap: pretty;
}

.menu-section h2 {
    margin: 2rem 0 1rem 2rem;
}

.menu-section ul {
    margin-left: 2rem;
    list-style-type: none;
}

.menu-section li {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.centered {
    text-align: center;
}