@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kreon', serif;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-indent: 1rem;
    letter-spacing: 1rem;
    line-height: 1em;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

header, footer {
    font-size: 24px;
    background-color: black;
}

header {
    text-align: right;
    text-transform: uppercase;
    padding: .2rem;
}

footer {
    color: white;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    padding-left: 2rem;
}

header a:last-child {
    padding-right: 4.5rem;
}

.hero {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
}

.hero img {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination {
    text-align: center;
    padding-top: .5rem;
}

.content-group {
    display: flow-root;
}

.right {
    width: 50%;
    float: right;
}

.left {
    width: 50%;
    float: left;
}

.content-group-text {
    width: 50%;
    display: inline-block;
}

.content-group-text h2, .content-group-text p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.content-group-text h2 {
    padding-top: 1rem;
}

.menu-section {
    text-align: center;
    padding-top: 1rem;
}

.food-items {
    list-style-type: none;
    text-indent: -1rem;
}

.food-items li {
    text-transform: capitalize;
    margin-bottom: 1rem;
}