/*
Header Font: Kreon (700)
Text Font: Nunito Sans (300)
H1 Font Size - 144px
H2 Font Size - 72px
Standard Font Size - 36px
Header/Footer/Subtitle Font Size - 24px
*/

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

nav, footer {
    background-color: black;
}

nav {
    text-align: right;
    padding: .2rem 0;
}

nav a:last-child {
    padding-right: 2rem;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 1rem;
}